@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,900;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


header {

    background-color: rgba(209, 212, 216, 0.901);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;

}

.logo {

    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;

}

.navigation a {
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    padding-left: 30px;
}

.navigation a:hover {
    color: #dabdc4;

}

.logo:hover {
    color: #dabdc4;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/nesr-intro.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


}

.main h2 {
    color: rgb(9, 9, 18);
    font-size: 1.4em;
    font-weight: 500;
    margin-top: -10px;

}

.main h2 span {
    display: inline-block;
    margin-top: 70px;
    margin-left: -20px;
    color: rgb(9, 9, 18);
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: rgb(15, 15, 15);
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 80px;
    margin-bottom: 30px;

}

.main-btn {

    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    margin-bottom: 20px;
    transition: 0.7s ease;



}

.main-btn:hover {
    background-color: #182851;
    transform: scale(1.1);
}

.soical-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;

}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;

}

.card:hover {
    transform: scale(1.1);

}

.icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: #3a6cf4;
    font-size: 1.2em;
    margin: 10px;
}

.profile {
    background-color: rgb(255, 255, 255);
    height: 550px;
    width: 250px;
    margin-top: 50px;
    padding: 25px;
    position: relative;
    left: 130px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    transition: 0.7s ease;
}

.profile:hover {
    transform: scale(1.1);

}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 10px;

}

.ico {
    color: #3a6cf4;
    font-size: 70px;
    text-align: center;
}

.title-sec {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;

}


.projects {
    background-color: #000160;
}

.projects .content {

    margin-top: 30px;
}

.project-card {
    background-color: rgb(255, 255, 255);
    border: 1px solid #fff;
    min-height: 14em;
    width: 19em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}


.project-card:hover {
    transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;

}

.project-card2 {
    background-color: rgb(255, 255, 255);
    border: 1px solid #fff;
    min-height: 19em;
    width: 19em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;

}


.project-card2:hover {
    transform: scale(1.1);
}

.project-card2:hover .project-image {
    opacity: 0.9;

}

.project-image img {
    width: 40%;
    position: relative;
    left: 90px;

}

.project-image2 img {
    width: 100%;
    margin-top: 50px;

}

.project-image3 img {
    width: 100%;
    margin-top: 70px;
}



.project-info {
    padding: 1em;
    margin-top: -20px;

}

.project-category {
    font-size: 0.9em;
    color: rgb(198, 0, 0);
}

.list {
    font-size: 0.8em;

}


.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: 10px;
    position: relative;

}

.project-title2 {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 100;
    ;

}

.project-title3 {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: 20px;



}

.more-details {
    text-decoration: none;
    color: #3a6cf4;
    margin-top: 50px;
}

.more-detatils:hover {
    color: #601cfc;
}

.Contact .icon {
    font-size: 4.5em;
}

.Contact .info h3 {
    color: #000;
}

.try {
    background-color: #000160;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;


}

.try .soical-icons2 a {
    font-size: 1.7em;
    color: #fff;
    padding: 0.5em;
}

.slider {

    justify-content: center;
    border-radius: 50px;
    overflow: hidden;
}


.slide {
    width: 500%;
    display: flex;

}

.slide input {
    display: none;
}

.st {
    width: 20%;
    transition: 2s;
}

.st img {
    width: 100%;
    height: 300px;

}

.nav.m {
    display: flex;
    padding-right: 50px;
    margin-left: -30px;
    justify-content: center;

}

.m-btn {
    border: 2px solid #23e3c2;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child) {
    margin-right: 40px;


}

.m-btn:hover {
    background-color: #23e3c2;

}

#radio1:checked~.first {
    margin-left: 0;

}

#radio2:checked~.first {
    margin-left: -20%;

}

#radio3:checked~.first {
    margin-left: -40%;

}


#radio4:checked~.first {
    margin-left: -60%;

}

#radio5:checked~.first {
    margin-left: -80%;

}

.nav-auto {
    position: absolute;
    display: flex;
    padding-right: 50px;
    margin-left: 430px;
    justify-content: center;
    margin-top: 310px;
}

.nav-auto div {

    border: 2px solid #23e3c2;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    justify-content: center;

}

.nav-auto div:not(:last-child) {
    margin-right: 40px;

}

#radio1:checked~.nav-auto .a-b1 {
    background-color: #23e3c2;

}

#radio2:checked~.nav-auto .a-b2 {
    background-color: #23e3c2;

}

#radio3:checked~.nav-auto .a-b3 {
    background-color: #23e3c2;

}

#radio4:checked~.nav-auto .a-b4 {
    background-color: #23e3c2;

}

#radio5:checked~.nav-auto .a-b5 {
    background-color: #23e3c2;

}